/*
 * Layout
 * - Containers, two-column layouts
 */
body {
  font-family: sans-serif;
  line-height: 1.4em;
  font-size: 1.2em;
  margin: 0;
}
.iziModal-header-subtitle{
  white-space: inherit !important;
}
.container {
  position: relative;
  z-index: 3;
  overflow: visible;
  max-width: 1280px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.sculpteo-viewer{
  display:block;
  height:400px;
  width:320px;
}
.container-left {
  margin-left: 4%;
  width: 23%;
  float: left;
  z-index: 3;
  margin-top: 10%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;

}

.homepage .container-left {
  width: 50%;
}

.container-left::-webkit-selection {
  background: #fff2a8;
}

.container-left::selection {
  background: #fff2a8;
}

.container-left::-moz-selection {
  background: #fff2a8;
}

.background-screen {
  background-color: #444444;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  min-width: 200px;
  margin-left: 370px;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10% 25px 0;
  margin-bottom: -19px;
}

.homepage .background-screen {
    width: 40%;
    float: right;
    padding: 15% 10px 0;
  }

.background-screen:after {
  top: 0;
  content: ' ';
  display: block;
  height: 100%;
  left: -69px;
  position: absolute;
  z-index: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100vh 70px;
  border-color: transparent transparent #444 transparent;
}

.background-screen.straight-edge:after {
  left: 0;
  transform: skewX(0);
  display: none;
}
/*
 * Dropdown menu for desktop navigation that appears
 * when hovering over About
 */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    line-height: 1.4em;
    text-align: center;
    width:104%;
}

.dropdown .dropdown-content a {
    display: block;
    padding:3px;
    border-bottom: 0;
}

.dropdown .dropdown-content a:hover {
  border-radius: 3px;
  padding:3px;
  background-color: #808080;
  border-bottom: 0 !important;
  transition: all linear 0s;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*
 * Desktop navigation bar
 */

.desktop-nav {
  height: 50px;
  position: relative;
  z-index: 3;
  margin-bottom: -50px;
}

.desktop-nav > a { /* Logo */
  max-height: 100%;
  padding-left: 4%;
  padding-top: 5px;
  display: block;
  float: left;
}

.desktop-nav > a object {
  pointer-events: none;
}

.desktop-nav > nav {
  float: right;
  line-height: 50px;
  padding-right: 2%;
}

.desktop-nav a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s linear;
  margin-left: 12px;
  font-weight: 400;
}

.desktop-nav a.circle-btn {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 5px 10px;
}

.desktop-nav a.circle-btn:hover {
  padding-bottom: 5px;
  background: rgba(0,0,0,0.3);
}

.desktop-nav nav a:hover,
.desktop-nav a.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}

/* hiding everyting that should not be seen in on desktop mode*/
.mobile-apply, .fancy-nav-btn, .mobile-nav, .mobile-btn, .mobile-padding-btn, .mobile-logo {
 display:none;
}

/*
 * Text & Element Formatting
 * - Things like the catch phrase, buttons, etc.
 * - Forms
 */
h1, p, a {
  color: #fff;
}

.catch-phrase {
  color: #fff;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-top: 0;
}

.seo-title {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  width:100%;
}

.btn-white {
  color: rgb(68,68,68);
  background-color: rgba(255,255,255,0.9);
  border-radius: 2px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.2s linear;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.btn-white:hover {
  background-color: #fff;
}

.btn-grey {
  border-radius: 2px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.2s linear;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.20);
  color: #fff;
}

.btn-grey:hover {
  background-color: rgba(0,0,0,0.4);
}

.background-screen > p:first-child {
  margin-top: 0;
}

/*
 * News page
 * - Things like moving images, padding btns
 * - Triggers for izi-modal
 * - Bluring images on hover
 */

.inner-ina, .inner-lily, .inner-team, .trigger,{
  color: #151515;
  font-size: 9px;
  padding: 10px 20px;
  height:100%;
  width:100%;
}

.lily-trigger:hover, .ina-trigger:hover, .team-trigger:hover{
  filter: blur(10px);
}

.eqi-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container {
  height: 350px;
  width: 250px;
  position: relative;
  display:inline-block;
  padding: 10px;
}

.image-z-index {
  position: absolute;
  z-index:0;
}

.ina-text-overlay, .lily-text-overlay, .team-text-overlay {
  top: 300px;
  z-index: 1;
  position: absolute;
  color: white;
  font-weight:bold;
  font-size: 1.4em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

.ina-text-overlay, .lily-text-overlay {
  left: 50px;
}

.modal-image {
  float: right;
  padding: 10px;
  width:45%;
}

.modal-text {
  color: #0d0d0d;
  padding: 10px;
  width:45%;
  float:left;
  margin-left:3%;
  margin-top:5px;
}

.padding-btn{
  display:block;
  padding:10px;
}

.ina-btn, .lily-btn {
  position:relative;
  display: block;
  border: 2px solid #0d0d0d;
  border-radius: 3px;
  padding: 5px 10px;
  color:#0d0d0d;
  text-decoration:none;
}

.ina-btn {
  float: right;
  margin-bottom:5px;
  margin-right: 20px;
}

.lily-btn {
  float:left;
  margin-left:3%;
}

.team-image{
  max-width:70%;
  width: auto;
  height: auto;
  padding:10px;
}

.team-text {
  color: #0d0d0d;
  padding: 10px;
}

.team-btn {
  border: 2px solid #0d0d0d;
  border-radius: 3px;
  padding: 5px 10px;
  color:#0d0d0d;
  text-decoration:none;
}

/*
 * Sponsor page
 * - Spliting the container in two for desktop
 * - Sizing image
 * - stuff for izi-modal
 */

.sponsor {
  width:100%;
  padding:10px;
}

.sponsor-img {
  width:35%;
  height:auto;
  display: inline-block;
  border-radius: 15px;
  margin-right: 3%;
  vertical-align: top;
}

.sponsor-right {
  display: inline-block;
  width:50%;
  margin-top:0;
}

.sponsor-btn {
  margin-top: 20px;
  border-radius: 10px;
}

.sponsor-text {
  color: #0d0d0d;
  padding: 10px;
}

/* Making Forms Pretty */
.prettify-form input[type=text],
.prettify-form input[type=email] {
  width: 47%;
  border-radius: 2.75px;
  border:0;
  color: #fff;
  background-color: rgba(255,255,255,0.1);
  padding: 5px;
  font-size: 1.1em;
  transition: all 0.1s linear;
  margin-bottom: 10px;
}

.prettify-form textarea {
  color: #fff;
  border: 0;
  width: 97.5%;
  padding: 5px 0 5px 5px;
  font-size: 1.1em;
  font-family: sans-serif;
}

.prettify-form input[type=text]:first-child,
.prettify-form input[type=email]:first-child {
  margin-right: 5px;
}

.prettify-form input[type=text]:focus,
.prettify-form input[type=email]:focus,
.prettify-form textarea {
  border-radius: 3px;
  outline: none;
  background-color: rgba(255,255,255,0.15);
}

.prettify-form input[type=submit] {
  border-radius: 3px;
  border: none;
  padding: 10px 7.5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  width:98%;
}

.prettify-form input[type=submit]:active {
  background-color: #efefef;
  outline: none;
}

  /* paddings for text that goes under the catch-phrase and titles on container-left*/

.mobile-text-padding{
  padding-right:0;
  padding-left:0;
}

.text-padding{
  padding-right:10%;
}

/*
 * changes for mobile
 * - mobile navigation bar
 * - mobile izi-modals
 */
@media only screen and (max-width:760px){

  /* hiding desktop stuff*/
.desktop-nav, .desktop-logo, .ina-btn, .lily-btn, .team-btn, .padding-btn {
  display:none;
}

/* mobile news page*/

.inner-ina .inner-lily .inner-team {
    width:100%;
}

.image-container {
  margin-left: auto;
  margin-right: auto;
}

.modal-image {
  padding: 10px;
  width:95%;
  float:none;
}

.modal-text {
  color: #0d0d0d;
  padding: 10px;
  width:95%;
  float:none;
  margin-left: 2%;
  margin-left: 2%;
}


.mobile-btn {
  display: block;
  border: 2px solid #0d0d0d;
  border-radius: 3px;
  padding: 5px 10px;
  color:#0d0d0d;
  float:none;
  text-decoration: none;
  width:80%;
  text-align: center;
  margin: auto;
}

.mobile-padding-btn{
  display: block;
  padding:10px;
}

.team-text{
  margin-left:2%;
}

.team-image{
  max-width: 90%;
  height:auto;
}

.mobile-apply{
  display:inline-block;
  z-index:-2;
}

/* mobile home page*/

.homepage .container-left {
    width:90%;
}

.homepage .past-websites a {
  padding: 10px;
}

.homepage .past-websites {
  padding-left:5%;
}

.homepage .catch-phrase {
  font-size: 1.5em;
  font-weight: 650;
}

.homepage-text {
  padding-left: 5%;
}

/* Forms for contact page */

.prettify-form input[type=text],
.prettify-form input[type=email] {
  width: 97.5%;
  padding-right:0;
}

.prettify-form input[type=submit] {
  width: 97.75;
}

/* mobile navigation*/

.mobile-logo {
  width: 200px;
  margin-top: 0;
  display: inline-block;
  margin-left: 15%;
  margin-bottom: 0;
  z-index:10;
  position: relative;
}

.mobile-nav {
  line-height: 30px;
  left: 0;
  top: 0;
  position: absolute;
  width: 50%;
  background-color:  #666666;
  z-index: 1;
  overflow: visible;
  height:100vh;
}

.first-mobile-link {
  margin-top:25%;
}

.mobile-nav a {
  display: block;
  text-decoration: none;
  padding: 5px;
  z-index: 1;
  margin-left:10%;
}

.close-btn {
  position:absolute;
  right: 5%;
  font-size: 2em;
  top:5px;
  color:white;
}

.smaller-links {
  margin-top:2.5%;
  margin-left: 15%;
}


.fancy-nav-btn {
  margin-top:0;
  margin-left: 2%;
  margin-right: -2%;
  display: inline-block;
  cursor: pointer;
}

.menu-bar1, .menu-bar2, .menu-bar3 {
  display: block;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: white;
  border-radius: 5px;
}

/* page elements*/

.background-screen {
    display: none;
    margin-left: 0;
}

.container-left {
  margin-top: 0;
  margin-left: 0;
  width: auto;
  float: none;
  padding: 5px;
  position: relative;
  z-index: 0;
}

.background-screen.straight-edge {
  padding-top: 5px;
  display: block;
  background-color: #444444;
  position: relative;
  min-width: 200px;
  width: auto;
  padding: 5px 10px 0;
  z-index: 0;
  overflow: hidden;
}

.catch-phrase {
  color: #fff;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  padding-top:12.5%;
  padding-left:2%;
}

.mobile-text-padding {
  padding-right:2%;
  padding-left:2%;
}

}


/* sponsor page has different media queries as I've made diffent ones for mobile and tablet viewing
*This one's for mobile
*/
@media only screen and (max-width:767px) {

.sponsor-img {
  width:90%;
  margin-top: 0;
  padding-bottom:10px;
}

.sponsor-right {
  width:90%;
  padding-top: 10px;
}

.sponsor-btn {
  padding-bottom:10px;
  margin-left:20%;
  width:200px;
}

}

/* sponsor page has different media queries as I've made diffent ones for mobile and tablet viewing
*This one's for tablet
*/

@media only screen and (max-width: 1023px) and (min-width: 768px) {
.sculpteo-viewer{
  display: none;
}
/*Forms also needed a small fix for tablets */

.prettify-form input[type=text],
.prettify-form input[type=email] {
  width: 45%;
}

.sponsor-img {
  width:90%;
  margin-top: 0;
  padding-bottom:10px;
}

.sponsor-right {
  width:90%;
  padding-top: 10px;
}

.sponsor-btn {
  padding-bottom:10px;
  width:200px;
}

}



/*
 *  Particles.js
 *  Req'd CSS
 */
 canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:fixed; width: 100%; height: 100%; background-color: #0079ff; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
